.button-calendar {
  height: 50px;
  width: 60px;
  margin-top: 10px;
  padding: 10px;
}

.calendar {
  width: 100%;
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
