.task {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--s);
    border-bottom: 1px solid var(--gray-color-900);
    font-size: var(--body-size);
}
.checkbox {
    height: 15px;
    width: 15px;
}
.task-input {
    border: none;
    width: 80%;
    height: 20px;
    font-size: var(--m);
}