.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.link {
  color: #000;
}
.login-page {
  display: flex;
  justify-content: center;
}
.btn {
  font-size: var(--title-size);
  color: inherit;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  transition: all 235ms ease-in-out 0s;
  align-self: center;
  background: 0 0;
  border: 2px solid #41403e;
  margin: 1rem;
  padding: var(--m);
  border-bottom-left-radius: 185px 25px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 10px 205px;
  text-decoration: none;
}
.second-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.error-message {
  color: red;
}
