.button-logout {
  width: 60px;
  height: 60px;
}

.button-logout img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .button-logout {
    width: 30px;
    height: 30px;
  }

  .button-logout img {
    width: 18px;
    height: 18px;
  }
}
