.home {
  display: flex;
  justify-content: center;
}

.button-prev,
.button-next {
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-prev img,
.button-next img {
  width: 30px;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 30px;
}

.button-calendar {
  height: 30px;
  width: 60px;
  margin-top: 10px;
}

.button-logout img {
  width: 20px;
  height: 20px;
}

.calendar {
  width: 100%;
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    position: absolute;
  }

  .button-prev,
  .button-next {
    height: 30px;
    width: 30px;
  }

  .button-prev img,
  .button-next img {
    width: 15px;
  }

  .buttons-group {
    display: flex;
    flex-direction: row;
    top: 20px;
    right: 20px;
  }

  .button-prev {
    position: relative;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
  }

  .button-next {
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
